/vendor/
*.DS_Store*
.env
.vagrant/*
.vscode/*
storage/framework/*
/.idea/
/.direnv

/node_modules/
*.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.yarn

# For local development with docker
# Remove if we ever put the Dockerfile in the repo
.dockerignore
docker-compose.yml
!docker-compose.example.yml

# for image related files
misc
.php-cs-fixer.cache
coverage.xml
resources/lang/locales.js
/.phpunit.result.cache

/public/build
/public/hot
result
docker-compose.yaml
release

/storage/*.key
/storage/app/backups
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/docs
/.env
/.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn-debug.log
.fleet
.env.testing
.php-cs-fixer.cache
